/* GLOBAL STYLING */
body{background-color:#EEE;color:#333;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif}
.page-container{display:flex;}
.page-container > .left-col{display:block;float:left;width:30%;padding:0;background-color:#333;}
.page-container > .right-col{display:block;float:right;width:69.9%;padding:0 3em 3em;}

h1, h2, h3{font-family: 'Varela Round', sans-serif;}
h1{margin-top:0;margin-bottom:0;padding-bottom:0;color:#F9F9F9;font-weight:300;}
h2{padding-bottom:5px;color:#666;font-size:22px;border-bottom:1px solid #D9D9D9}
h3{margin-top:40px;margin-bottom:0;font-size:26px;color:#069;}
a{text-decoration:none;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.warning{margin-top:1.5em;padding:5px 10px;color:#FFF;font-weight:300;background:#58C756 none;border-radius:3px;}
hr{margin-bottom:20px;height:1px;border:0 none;background: #333333;background: -moz-linear-gradient(left,  #333333 0%, #eeeeee 25%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(25%,#eeeeee));background: -webkit-linear-gradient(left,  #333333 0%,#eeeeee 25%);background: -o-linear-gradient(left,  #333333 0%,#eeeeee 25%);background: -ms-linear-gradient(left,  #333333 0%,#eeeeee 25%);background: linear-gradient(to right,  #333333 0%,#eeeeee 25%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#eeeeee',GradientType=1 );}
hr.reverse{background: #eeeeee;background: -moz-linear-gradient(left,  #eeeeee 75%, #333333 100%);background: -webkit-gradient(linear, left top, right top, color-stop(75%,#eeeeee), color-stop(100%,#333333));background: -webkit-linear-gradient(left,  #eeeeee 75%,#333333 100%);background: -o-linear-gradient(left,  #eeeeee 75%,#333333 100%);background: -ms-linear-gradient(left,  #eeeeee 75%,#333333 100%);background: linear-gradient(to right,  #eeeeee 75%,#333333 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#333333',GradientType=1 );}
.subtitle{padding-top:1em;margin:0 1.5em 1.5em;color:#BBB;font-weight:300;}
.clear{clear: both;}
/* END GLOBAL STYLING */

/* HEADER STYLING */
header{display:block;margin-top:1.5em;}
header .left-col, header .right-col{display:inline-block;margin:0;}
header .left-col{width:25%;max-height:72px;padding-left:1.5em;}
header .left-col img{max-width:72px;}
header .right-col{padding-top:.3em;padding-right:1.5em;width:56%;line-height:1;vertical-align:top}
/* END HEADER STYLING */

/* NAV STYLING */
nav{border-top:1px solid #FFF;}
nav a{display:block;padding-top:1em;padding-bottom:1em;color:#FFF;text-indent:1.5em;border-bottom:1px solid #069;}
/* END NAV STYLING */

/* FLEXBOX STYLING */
.container{display:flex;margin-bottom:30px;}
.column-1{display:block;width:100px;height:100px;margin-right:20px;color:#FFF;text-align:center;line-height:100px;vertical-align:middle;background-color:#E04836;}
.column-2{display:block;width:100px;height:100px;margin-right:20px;color:#FFF;text-align:center;line-height:100px;vertical-align:middle;background-color:#F39D41;}
.column-3{display:block;width:100px;height:100px;margin-right:20px;color:#FFF;text-align:center;line-height:100px;vertical-align:middle;background-color:#8D5924;}
.column-4{display:block;width:100px;height:100px;margin-right:20px;color:#FFF;text-align:center;line-height:100px;vertical-align:middle;background-color:#5696BC;}
.column-5{display:block;width:100px;height:100px;margin-right:20px;color:#FFF;text-align:center;line-height:100px;vertical-align:middle;background-color:#2F5168;}

/* VERTICAL ROW STYLING */
.vertical .column-1{he;ight:150px;line-height:150px;}
.vertical .column-2{height:50px;line-height:50px;}
.vertical .column-3{height:100px;line-height:100px;}
.vertical .column-4{height:200px;line-height:200px;}
/* END VERTICAL ROW STYLING */

/* HORIZONTALLY ALIGNED STYLING */
.flex-row{flex-direction:row;}

.flex-row.order .column-1{order:99;}
.flex-row.order .column-2{order:1;}
.flex-row.order .column-3{order:83;}
.flex-row.order .column-4{order:4;}
.flex-row.order .column-5{order:3;}

.flex-row.flex-grow .column-3{flex-grow:2;}
.flex-row.flex-grow .column-4{margin-right:0;}

.flex-row.flex-shrink .column-2{width:auto;flex-shrink:2;}

.flex-row.flex-basis .column-1{width:auto;flex-grow:4;flex-basis:auto}
.flex-row.flex-basis .column-3{width:auto;flex-basis:3}
.flex-row.flex-basis .column-4{margin-right:0;}

.flex-row-reverse{flex-direction:row-reverse;}
.flex-row-reverse .column-1{margin-right:0;}

.justify-content-flex-start{justify-content:flex-start}

.justify-content-flex-end{justify-content:flex-end}
.justify-content-flex-end .column-4{margin-right:0;}

.justify-content-center{justify-content:center;}

.justify-content-space-between{justify-content:space-between;}
.justify-content-space-between .column-4{margin-right:0;}

.justify-content-space-around{justify-content:space-around;}

.align-content-flex-start{display:flex;}
.align-content-flex-start .column-1{display:flex;align-content:flex-start;width:75%;}
.align-content-flex-start .column-2{display:flex;align-content:flex-start;width:24.5%;}
.align-content-flex-start .column-3{display:flex;align-content:flex-start;width:33%;}
.align-content-flex-start .column-4{display:flex;align-content:flex-start;width:33%;}
.align-content-flex-start .column-5{display:flex;align-content:flex-start;width:30%;}
/* END HORIZONTALLY ALIGNED STYLING */

/* VERTICALLY ALIGNED STYLING */
.align-items-flex-start{align-items:flex-start;}
.align-items-flex-start .align-self{align-self:flex-end;}
.align-items-flex-end{align-items:flex-end;}
.align-items-center{align-items:center;}
.align-items-stretch{align-items:stretch;}
.align-items-stretch .column-1, .align-items-stretch .column-2, .align-items-stretch .column-3, .align-items-stretch .column-4{height:auto;}
.align-items-baseline{align-items:baseline;}
.align-items-baseline .column-1, .align-items-baseline .column-4{line-height:80px;vertical-align:top;}
/* END VERTICALLY ALIGNED STYLING */

/* USE CASES */
.center.parent{display:flex;height:200px;width:200px;background-color:#DDD;}
.center .child{width:100px;height:100px;margin:auto;background-color:#E04836;color:#FFF;}

.use-cases .align-items-stretch .column-1{height:200px;width:500px;margin-right:0;}
.use-cases .align-items-stretch .column-2{width:200px;height:auto;}

.use-cases .responsive-row{flex-flow:row wrap;justify-content:space-around;}
.use-cases .responsive-row .column-1, .use-cases .responsive-row .column-2, .use-cases .responsive-row .column-3, .use-cases .responsive-row .column-4{width:25%;margin-right:0;}

/* CODE STYLING */
pre{overflow:auto;margin-top:1.25em;margin-bottom:1.5em;padding:0px;,-moz-tab-size:2;word-break:normal;position:relative;background:#373b41 none;border-left:4px solid #AAA;}
pre code{font-size:0.9rem;padding:15px;white-space:pre;overflow:auto;display:block;color:#B7B6F5;line-height:1.5}
pre code span{display:inline-block;margin:0;padding:0;}

/* UNUSED COLORS
  Tan: #D7D08A
  Light Green: #CEEACB
*/
